.player{
    display: flex;
    align-items: center;
    background-color: rgba(63, 81, 181, 0.7);
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;
    padding: 12px;

    span{
        font-size: 32px;
        margin: 16px;
        color: white;
        text-overflow: ellipsis;
        overflow-x: clip;
    }

    img{
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange !important;
}

@media(max-width: 800px){
    .player{
        padding: 4px;

        span{
            font-size: 24px;
            margin: 8px;
        }

        img{
            height: 32px;
        }
    }
}