.player{
    display: flex;
    align-items: center;
    background-color: gray;
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;
    padding: 12px;

    span{
        font-size: 32px;
        margin: 16px;
        color: white;
    }

    img{
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
    background-color: orange !important;
}