.field{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('./../../assets/img/board.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card-stack{
    position: relative;
    img{
        position: absolute;
        width: 160px;
    }
}

.top-card{
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover{
        transform: scale(1.1) translateY(-10px);
    }
}

.button-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 2;
}

.button-question{
    position: absolute;
    left: 32px;
    top: 32px;
    z-index: 2;
}

.pick-card{
    animation: pick-card-animation 1.2s ease-in-out;
    transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);
}

.played-card{
    transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);
}

.player-position{
    position: absolute;
    right: 0;
    max-width: 100%;
}

@keyframes pick-card-animation {
    0%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.3) translateX(150px) translateY(-180px) rotate(-10deg);
    }
}

.pin-bottom{
    position: absolute;
    bottom: 32px;
    right: 20%;
    left: 20%;
}

.players-container{
    position: absolute;
    top:20%;
    right: 0;
    height: 366px;
    width: 260px;
    overflow-y: scroll;
    z-index: 1;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .players-container {
    scrollbar-width: auto;
    scrollbar-color: #5487a0 rgb(57, 34, 29);
  }

  /* Chrome, Edge, and Safari */
  .players-container::-webkit-scrollbar {
    width: 7px;
  }

  .players-container::-webkit-scrollbar-track {
    background: rgb(57, 34, 29);
  }

  .players-container::-webkit-scrollbar-thumb {
    background-color: #5487a0;
    border-radius: 11px;
    border: 0px solid #ffffff;
  }

  app-player{
    cursor: pointer;

    &:hover{
        filter: brightness(0.8);
    }
  }

@media(max-width: 1200px){
    .field{
        justify-content: unset;
        padding-left: 30%;
    }

    .pin-bottom{
        left: 10%;
        right: 10%;
    }

    .button-add{
        top: 32px;
        bottom: unset;
    }
}

@media (max-width: 600px){
    .button-add{
        top: 12px;
        right: 12px;
    }

    .button-question{
        top: 12px;
        left: 12px;
    }

    .field{
        justify-content: center;
        padding: -1;
    }

    .pick-card{
        animation: pick-card-animation-small 1.2s ease-in-out;
        transform: scale(1.2) translateX(14px) translateY(-230px) rotate(-10deg);
    }
    
    .played-card{
        transform: scale(1.2) translateX(14px) translateY(-230px) rotate(-10deg);
    }

    .players-container{
        width: 140px;
        height: 300px;
    }

    .pin-bottom{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .card-stack img{
        width: 140px;
    }

    @keyframes pick-card-animation-small {
        0%{
            transform: scale(1.1);
        }
        40%{
            transform: scale(1.13);
        }
        60%{
            transform: scale(1.13);
        }
        100%{
            transform: scale(1.2) translateX(14px) translateY(-230px) rotate(-10deg);
        }
    }
}