<div class="players-container">
    <app-player *ngFor="let player of game.players; let i = index"
        [ngStyle]="{'top.px': i * marginBetweenPlayers}" [name]="player" [image]="game.player_images[i]"
        [playerActive]="i == game.currentPlayer" class="player-position"
        (click)="editPlayer(i)"></app-player>
</div>
<div class="field">
    <div class="card-stack">
        <!-- card stack -->
        <img *ngFor="let c of [0,1,2,3]; let i = index" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()" [attr.disabled]="gameover" class="top-card" style="right: 20px;" src="assets/img/cards/card_cover.png">
        <!-- stack for played card -->
        <img *ngFor="let card of game.playedCards" class="played-card" style="right: 20px;"
            src="assets/img/cards/{{ card }}.png">

        <!-- currentcard animation -->
        <img *ngIf="game.pickCardAnimation" class="pick-card" style="right: 20px;"
            src="assets/img/cards/{{ game.currentCard }}.png">
    </div>
</div>
<button mat-fab (click)="openDialog()" color="primary" class="button-add">
    <mat-icon>add</mat-icon>
</button>
<button mat-fab (click)="openDialogQuestion()" color="primary" class="button-question">
    <mat-icon>help_outline</mat-icon>
</button>
<app-game-info class="pin-bottom" [card]="game.currentCard"></app-game-info>